.jumbotron {
  background-size: cover;
  background-color: #008080;
  text-align: center;
  color: #ffffff;
}

.Setup {
  margin-left: 25%;
  float: left;
}

.Setup ol {
  font-size: 1.5em;
}

#result {
  display: none;
  font-size: 1.5em;
  margin-top: 5%;
  border-style: solid;
  border-color: black;
  width: 60%;
  float: left;
  margin-left: 25%;
}

@media (max-width: 992px){
  img {
    display: none;
  }
}

body {
  height: 100%;
  padding-bottom: 60px;
}

footer.navbar-default.navbar-fixed-bottom {
  background-color: #008080;
  padding:1em 0;
 }

 footer.navbar-default.navbar-fixed-bottom p {
  margin:0;
  text-align: center;
  color: #ffffff;
 }
